{% extends "layout2.html" %}
{% block body_content %}


<!--VERY SIMPLE PAGE WHICH HAS THE LINKS TO THE IMAGES NEXT TO THE ZONE NAMES-->


<!--<br>-->
<!--    <br>-->
<!--    <a href="/healthcare_homepage" style="display: block; text-align: center; margin-top: 10px;">Back to Healthcare Team Homepage</a>-->

<!--  </div>-->
<!--&lt;!&ndash;ADDING Zones as names and then diagrams and names below&ndash;&gt;-->

<!--        <h2>Zone 1</h2>-->
<!--        <a href="/zone1" style="display: block; text-align: center;">View Zone 1</a>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div>-->
<!--        <h2>Zone 2</h2>-->
<!--        <a href="/zone2" style="display: block; text-align: center;">View Zone 2</a>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div>-->
<!--        <h2>Zone 3</h2>-->
<!--        <a href="/zone3" style="display: block; text-align: center;">View Zone 3</a>-->
<!--    </div>-->



<!--Trying to be creative and utilise lightbulb technique-->

<!DOCTYPE html>
<html>
<body>

<h2>The Different Zones</h2>

<p>Toggle through Zone 1, Zone 2 & Zone 3 below.</p>

<p>Zone 1 is defined as the circle, the radius of which is twice the distance between the center of optic disc and center of macula. Zone 2 is defined as the area from the edge of the zone 1 peripherally to a point tangential to the nasal ora serrata. Zone 3 is the residual temporal crescent of retina anterior to zone 2.</p>

<button onclick="document.getElementById('myImage').src='pic_bulbon.gif'">Zone 1</button>

<img id="zone 1" src="{{ url_for('static', filename='images/zone_1.jpeg') }}" style="width:100px">

<button onclick="document.getElementById('myImage').src='pic_bulboff.gif'">Zone 2</button>
<img id="zone 2" src="{{ url_for('static', filename='images/zone_2.jpeg') }}" style="width:100px">

<button onclick="document.getElementById('myImage').src='pic_bulboff.gif'">Zone 3</button>
<img id="zone 3" src="{{ url_for('static', filename='images/zone_3.jpeg') }}" style="width:100px">

</body>
</html>



{% endblock %}
