{% extends "layout2.html" %}
{% block body_content %}
<!--<br>-->
<!--    <br>-->
<!--    <a href="/healthcare_homepage" style="display: block; text-align: center; margin-top: 10px;">Back to Healthcare Team Homepage</a>-->

<!--  </div>-->
<!--&lt;!&ndash;ADDING Zones as names and then diagrams and names below&ndash;&gt;-->

<!--        <h2>Zone 1</h2>-->
<!--        <a href="/zone1" style="display: block; text-align: center;">View Zone 1</a>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div>-->
<!--        <h2>Zone 2</h2>-->
<!--        <a href="/zone2" style="display: block; text-align: center;">View Zone 2</a>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div>-->
<!--        <h2>Zone 3</h2>-->
<!--        <a href="/zone3" style="display: block; text-align: center;">View Zone 3</a>-->
<!--    </div>-->



<!--Trying to be creative and utilise lightbulb technique-->

<!DOCTYPE html>
<html>
<body>

<h2>What Can JavaScript Do?</h2>

<p>JavaScript can change HTML attribute values.</p>

<p>In this case JavaScript changes the value of the src (source) attribute of an image.</p>

<button onclick="document.getElementById('myImage').src='pic_bulbon.gif'">Turn on the light</button>

<img src="{{ url_for('static', filename='images/zone_1.jpeg') }}" class="card-img-top" alt="zone1">
<button onclick="document.getElementById('myImage').src='pic_bulboff.gif'">Turn off the light</button>

</body>
</html>



{% endblock %}
