{% extends "layout2.html" %}
{% block body_content %}
<!--<br>-->
<!--<br>-->
<!-- Centering the button and making it wider -->


<!-- Image Container -->
<div class="centered-zone-image rounded-zone-image" style="text-align: center;">
    <img src="/static/images/zone_1.jpeg" class="img-fluid" alt="zone 1 BV end" style="border-radius: 20px; width: 50%; height: auto;">
</div>
<br>
<br>
<div style="display: flex; justify-content: center;">
    <a href="/static/images/zone_1.jpeg" download="zone_1.jpeg" style="text-decoration: none;">
        <button class="download-button">Download Image</button>
    </a>
</div>
<br>
<div style="text-align: center;">
<p id="screeningDate">Screen baby again in 1 week on <span id="dateOneWeek"></span>.</p>
</div>
<script>
    // Calculate the date one week from now
    var today = new Date();
    var nextWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate() + 7);

    // Format the date as you like; here's a simple example: YYYY-MM-DD
    var dateString = nextWeek.getFullYear() + '-' + (nextWeek.getMonth() + 1).toString().padStart(2, '0') + '-' + nextWeek.getDate().toString().padStart(2, '0');

    // Insert the date into the paragraph
    document.getElementById('dateOneWeek').textContent = dateString;
</script>


<!--<br>-->
<!--    <br>-->
    <a href="/screen_baby" style="display: block; text-align: center; margin-top: 10px;">Back</a>


{% endblock %}