{% extends "layout2.html" %}
{% block body_content %}
<div class="centered-zone-image rounded-zone-image" style="text-align: center;">
    <img src="/static/images/zone_2.jpeg" class="img-fluid" alt="zone 2 BV end" style="border-radius: 20px; width: 50%; height: auto;">
</div>
<br>
<br>
<div style="display: flex; justify-content: center;">
    <a href="/static/images/zone_2.jpeg" download="zone_2.jpeg" style="text-decoration: none;">
        <button class="download-button">Download Image</button>
    </a>
</div>
<br>
    <br>
    <a href="/screen_baby" style="display: block; text-align: center; margin-top: 10px;">Back</a>


{% endblock %}