{% extends "layout2.html" %}
{% block body_content %}
<div class="centered-zone-image rounded-zone-image" style="text-align: center;">
    <img src="/static/images/zone_3.jpeg" class="img-fluid" alt="zone 3 BV end" style="border-radius: 20px; width: 50%; height: auto;">
</div>
<br>
<br>
<div style="display: flex; justify-content: center;">
    <a href="/static/images/zone_3.jpeg" download="zone_3.jpeg" style="text-decoration: none;">
        <button class="download-button">Download Image</button>
    </a>
</div>
<br>
<div style="text-align: center;">
<p id="screeningDate">Screen baby again in 2 weeks on <span id="dateTwoWeeks"></span>.</p>
</div>
<script>
    // Calculate the date two weeks from now
    var today = new Date();
    var nextTwoWeeks = new Date(today.getFullYear(), today.getMonth(), today.getDate() + 14);

    // Format the date as you like; here's a simple example: YYYY-MM-DD
    var dateString = nextTwoWeeks.getFullYear() + '-' +
                     (nextTwoWeeks.getMonth() + 1).toString().padStart(2, '0') + '-' +
                     nextTwoWeeks.getDate().toString().padStart(2, '0');

    // Insert the date into the paragraph
    document.getElementById('dateTwoWeeks').textContent = dateString;
</script>

<!--<br>-->
<!--    <br>-->
    <a href="/screen_baby" style="display: block; text-align: center; margin-top: 10px;">Back</a>


{% endblock %}