{% extends "layout2.html" %}
{% block body_content %}
<br>
<br>
<div class="d-flex flex-column align-items-stretch" style="max-width: 300px; margin: auto;">
    <a href="{{ url_for('add_baby') }}" class="btn btn-secondary mb-2">Add Baby To List</a>
    <a href="{{ url_for('all_babies_from_db') }}" class="btn btn-secondary mb-2">View Full List of Babies</a>
    <a href="{{ url_for('this_weeks_screens') }}" class="btn btn-secondary mb-2">Babies To Screen This Week</a>
    <a href="{{ url_for('screen_baby') }}" class="btn btn-secondary mb-2">Screen Baby</a>
</div>
{% endblock %}