@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    background-color: #2E4756;
    color: white;
    font-family: Quicksand;
    padding: 0 20px; /* Adds 20px padding to the left and right of the entire body content */
    padding-top: 60px;
}

.navbar {
    background-color: #253031;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: left;
    color: white;
    z-index: 1030;
    left: 0; /* Ensure the navbar starts from the very left */
    right: 0; /* Ensure the navbar extends to the very right */
}

.container-fluid {
    position: relative;
    z-index: 100; /* Ensures navbar stays on top of other content */
}


.centered-image {
    max-width: 40%; /* Adjust this value to make the image smaller or larger */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Treat the image as a block-level element */
    margin-left: auto; /* Center the image horizontally */
    margin-right: auto; /* Center the image horizontally */
    }

.center-content {
    display: flex;
    justify-content: center;
}


    .card-img-top {
        height: 200px; /* Fixed height for all images */
        object-fit: cover; /* Maintain aspect ratio, might crop the image */
        width: 100%; /* Ensure the image fills the card width */
    }

    .row + .row {
        margin-top: 15px; /* Adjust the gap between the rows */
    }

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
}

.center-text {
            display: flex;
            justify-content: center;
            align-items: center;
}

.centered-zone-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Adjusted to consider navbar's height */
    margin-top: 100px; /* Adjust this value if your navbar height is different */
}

.rounded-zone-img {
    border-radius: 20px; /* Adjust for desired roundness */
    max-width: 50%; /* Make the image smaller */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space below the image */
}


/* styles.css */
.download-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove border */
    color: white; /* Text color */
    padding: 15px 32px; /* Padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Text size */
    margin: 4px 2px;
    cursor: pointer; /* Change cursor on hover */
    border-radius: 12px; /* Rounded corners */
    transition-duration: 0.4s; /* Smooth transition for hover effect */
}

.download-button:hover {
    background-color: #45a049; /* Darker shade of green */
    color: white;
}

 zone-thumbnail-img {
            max-width: 100%; /* Makes images responsive */
            height: auto;
            display: block; /* Prevents inline gaps */
            margin: 0 auto; /* Centers images */
        }
zone-thumbnail-button {
            display: block; /* Each button on its own line */
            width: 100%; /* Full width */
            margin: 10px 0; /* Spacing around buttons */
        }