{% extends "layout.html" %}
{% block body_content %}

<div>
    <br>
 <h4>Calculate Postmenstrual Age, Postnatal Age and Date of First Screen</h4>
    <br>
    <form method="POST">
        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required>

        <label for="ga_weeks">Gestational Age at Birth (Weeks):</label>
        <input type="number" id="ga_weeks" name="ga_weeks" required>

        <button type="submit">Calculate</button>
    </form>
</div>

{% endblock %}