{% extends "layout.html" %}
{% block body_content %}

<br>
<br>
<div class="d-flex flex-column align-items-stretch" style="max-width: 300px; margin: auto;">
    <a href="{{ url_for('screening') }}" class="btn btn-secondary mb-2">Screening Information</a>
    <a href="{{ url_for('calculator') }}" class="btn btn-secondary mb-2">Calculate First Screen</a>
    <a href="{{ url_for('guidance') }}" class="btn btn-secondary mb-2">ROP Guidance</a>
    <a href="{{ url_for('template') }}" class="btn btn-secondary mb-2">Retina Template Diagram</a>
</div>

{% endblock %}